In [1]:
import pandas as pd
import numpy as np

The ISC-GEM Global Instrumental Earthquake Catalogue contains:
- earthquake origin date and time
- epicentre (lat,lon)
- error ellipse parameters (smajax, sminax, strike), epicentre quality,
(q:A(highest)/B/C)
- depth, depth uncertainty (unc), depth quality (q:A(highest)/B/C)
- Mw, Mw uncertainty (unc), quality (q:A(highest)/B/C), source(s:p-proxy,
d-direct computation)
- where available: scalar moment (mo), factor (fac) , mo author (mo_auth)
and six moment tensor components (mpp, mpr, mrr, mrt, mtp, mtt).

In [7]:
# The First 92 rows are data and copyright info: creative commons, open use.
df = pd.read_csv(
    'https://raw.githubusercontent.com/Lambda-School-Labs/quake-ds-pt9/cent_data_and_functions/data/isc-gem-cat.csv',
    skiprows=92)

# Renaming columns for clarity and to coincide with the usgs data more easily. 
df = df.rename(columns={
    '#         date          ':'time', 
    '    lat   ':'lat', 
    '    lon   ':'lon', 
    ' smajax ':'smajax', 
    ' sminax ':'sminax', 
    ' strike':'strike', 
    ' q ':'epicenter_q', 
    '  depth ':'depth', 
    '   unc ':'depth_unc', 
    ' q .1':'depth_q', 
    '  mw  ':'Mw', 
    '  unc ':'Mw_unc', 
    ' q .2':'Mw_q', 
    ' s ':'source', 
    '   mo  ':'scalar_moment', 
    ' fac':'factor', 
    '  mo_auth ':'mo_auth', 
    '  mpp  ':'mpp', 
    '  mpr  ':'mpr', 
    '  mrr  ':'mrr', 
    '  mrt  ':'mrt', 
    '  mtp  ':'mtp', 
    '  mtt  ':'mtt', 
    '  str1  ':'str1', 
    '  dip1  ':'dip1', 
    ' rake1  ':'rake1', 
    '  str2  ':'str2',
    '  dip2  ':'dip2', 
    ' rake2  ':'rake2',
    '   type ':'type',
    '    eventid':'eventid'
    })

df.head()

,time,lat,lon,smajax,sminax,strike,epicenter_q,depth,depth_unc,depth_q,...,mtp,mtt,str1,dip1,rake1,str2,dip2,rake2,type,eventid
0,1904-04-04 10:02:34.56,41.802,23.108,8.6,6.6,164.2,B,15.0,4.8,C,...,,,,,,,,,,610326271
1,1904-04-04 10:26:00.88,41.758,23.249,8.3,6.9,15.2,B,15.0,4.8,C,...,,,,,,,,,,16957813
2,1904-06-25 14:45:39.14,51.424,161.638,33.6,18.7,116.2,C,15.0,25.0,C,...,,,,,,,,,,16957820
3,1904-06-25 21:00:38.72,52.763,160.277,28.6,14.6,43.1,C,30.0,10.3,C,...,,,,,,,,,,16957819
4,1904-12-20 05:44:20.44,8.962,-84.042,26.3,13.2,74.1,C,10.0,14.0,C,...,,,,,,,,,,16957832